.Login{
    margin:0;
    height:100%;
    padding: 0;
}
.Header{
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, .5) 0, transparent);
    border-bottom: transparent;
    left: 0;
    
    top: 0;
    width: 101%;
    
    margin: 0px 0px;
    background-color: #292626;
    color: white;
    margin-left: -8px;
}
.Header img{
    
    vertical-align: middle;
    width: 167px;
     display: inline-block;
    vertical-align: middle;
}
.headerRight{
    display: flex;
    align-items: center;
}
.bgImage{
    background-size: cover;
    display: block;
   
    overflow: hidden;
    position: fixed;
    margin-top:-9px;
    margin-left:-12px;
    z-index: -1;
    width:100%;
}
.form{
    max-width: 450px;
    min-height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    margin:0 auto;
    padding: 0 73px;
    box-sizing: border-box;
    background-color: rgba(0, 0 ,0 ,0.7);
}
.formData::before{
    content: "";
    display: block;
    height: 91px;
}
.form h2,input,button{
   /* width:100%; */
}
.form h2{
   
    color: white;
   
    font-family: math;
    font-size: 38px;
}
.form input{
    width: 100%;
    line-height: 50px;
    color: #bcbcbc;
    height: 50px;
    border-radius: 6px;
    background-color: #373535;
    margin: 10px 0px;
    padding: 4px 15px;
    box-sizing: border-box;
    font-size:16px;
}
.form ::placeholder{
    color: #bcbcbc;
}
.loginButton{
    
    background-color: red;
    border-radius: 6px;
    margin: 24px 0px;
    color: white;
    font-size: larger;
    padding: 12px 34px;
    cursor: pointer;
}
.new-User p{
    color: #bcbcbc;
    font-size: 17px;
    font-family: math;
}

.new-User p span{
    color: white;
    cursor: pointer;
}

.errmessage{
    color:red;
}

.signOut{
    float: right;
    width: 92px;
    height: 45px;
    margin: 12px 15px;
    border: none;
    cursor: pointer;
   
}
.span-text{
    font-size: 17px;
    color: red;
}
 .span-text:hover{
    border-bottom: 1px solid black;
}

#videoTitle{
    width: 100%;
    height: 358px;
    padding-top: 10%;
    padding-left: 2%;
    color: #fefefe;
    position: absolute;
    background: linear-gradient(to top right, #252424, transparent);
}

.videoTitleText{
    width:41%;
    padding-top:1%;
    padding-left: 6%;
   
}
#videoTitle h1{
    font-size: xxx-large;
}

#Playbuttons button{
    margin-right: 27px;
    font-size: medium;
    padding: 9px 20px;
    border-radius: 4px;
}
.playBtn{
    background-color: white;
    border: 0.5px solid black;
}
.infoBtn{
    background-color:rgba(109, 109, 110, 0.7);
    color: white;
    border: none;

}
.videoBackground{
    position: relative;
    padding-bottom: 56.25%;
    margin-top:-10px;
    height:0;
    margin-left:-10px;
    margin-right: -8px;
   
}

.videoBackground iframe{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
}
.movieVideoBackground{
    position: relative;
    padding-bottom: 56.25%;
    margin-top:-10px;
    height:0;
   
   
}
.movieVideoBackground iframe{
    position: absolute;
    top:0px;;
    left:0;
    width:100%;
    height:100%;
}
.Movies{
    display: flex;
    overflow: auto;
}
.Movies::-webkit-scrollbar{
    width: 0;
}
.MovieCard{
    transition: 0.3s;
    position: relative;
}


.MovieList h1{
    font-size: 1.4vw;
    
    font-family: math;
    padding-left: 33px;
}
.SecondaryContainer{
    background-color: black;
    margin-right:-8px;
    margin-left:-10px;
}

.SecondaryContainerMovies{
    color: white;
    margin-top: -220px;
    position:relative;
    margin-left:43px;

}
.searchBarForm{
    display: flex;
    justify-content: center;
    align-items: center;
    width:39%;
    border:1px solid grey;
    background-color: black;
}
.searchBarForm input{
    margin: 10px 20px;
    width: 80%;
    height: 32px;
    border-radius: 8px;
    border: 1px solid grey;
    text-align: center;
    font-size: 15px;
}
.searchBarForm button{
    width: 81px;
    height: 34px;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 17px;
    margin-right: 14px;
    cursor: pointer;
}
.searchBar{
    padding-top:165px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movieResultsContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: black;
    margin:26px -8px;
    padding:46px 39px;
    background-color: rgba(0, 0, 0, 0.8);
}
.resultsCard img{
    height: 158px;
    width: 256px;
    margin: 20px 15px;

}
.DialogueBox{
    width: 63%;
    height: 730px;
    border: 1px solid;
   
    text-align: center;
    margin: auto auto;
   
    background-color: black;
    color: white;
    position: absolute;
    top: 80%;
    left: 20%;
}
.DialogueBox button{
    height: 35px;
    width: 90px;
    font-size: 15px;
    position: absolute;
   background-color:red;
  cursor: pointer;
    right: 0px;
    margin: 10px 5px;
}
.DialogueBox h2{
    margin-top:40px;
    font-family: sans-serif;
}
.DialogueBox p{
    margin: 0px 10px;
}
.searchButton{
    height: 45px;
    width: 90px;
    font-size: 17px;
    background-color: red;
    border-radius: 8px;
    color: white;
    cursor: pointer;

    
}





.navContent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 144px;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav ul li{
    list-style: none;
    padding: 0px 20px;
    margin: 0px 20px;
}
nav ul li a{
    color: white;
    font-size: 18px;
    font-family: monospace;
}
.links{
    text-decoration: none;

}
.movies{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}
.MovieCard img{
    width: 215px;
    height: 240px;
    cursor: pointer;
    border-radius: 6px;
    border-radius: 6px ;
    
}
.MovieCard{
    margin: 22px 45px;
    width: 215px;
    color: white;
    font-family: monospace;
}
.MovieCard h2{
    font-size: 17px;;
}
.casting img{
    width: 248px;
    height: 125px;
    margin: 0px 5px;
    border-radius: 6px ;
}
.castingData{
    display: flex;
    overflow: auto;
}
.imageBackground{
    width: 100%;
    height: 504px;
    margin-left: -8px;
    margin-bottom: 53px;
}
.imageBackground img{
    width: 100%;
    height: 509px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
}
.secondSection{
    background-color: #363434;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
}
.searchText{
    padding: 8px;
    margin: 0px 3px;
    border-radius: 6px;
}
.buttonSearch{
    padding: 8px;
    font-size: 14px;
    background-color: gray;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}
@media (min-width: 768px) and (max-width: 1024px) {
   
}
@media (max-width: 985px) {
    .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 29px;
    /* flex-direction: row-reverse; */
    }
    .nav ul li{
        padding: 0px 0px;
    margin: 0px 6px;
    }
    .nav ul li a{
        font-size:15px;
    }
  }
  @media(max-width: 635px){
    .nav{
        flex-direction: row-reverse;
    }
    .nav ul{
        flex-direction: column;
    }
    .searchText{
        padding: 4px;
    margin: 0px 3px;
    }
  }
  @media (max-width:1411px) {
    .videoTitleText{
        width:57%;
    }
  }
  @media(max-width: 501px){
     .searchText{
        /* display: none; */
        width: 58px;
    padding: 2px;
     }
     .buttonSearch{
        /* display: none; */
        width: 58px;
    padding: 3px;
     }
     .search{
        margin-right: -41px;
     }
  }